@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --bodyBackground: #ffffff;
  --bodyBackgroundAlt: #f9f9f9;
  --headingMain: #6d28d9;
  --successGreen: #00ff84;
  --dangerRed: #ffc0c7;
  --fontPrimary: #002333;
  --active: #2dbf64;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fontPrimary);
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--bodyBackground);
}

a {
  text-decoration: none;
}

/* Universal animation for SVG  */
.svg_appear {
  animation: animatebottom 1.3s ease-in;
}
@keyframes animatebottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
