/*  -----------------------------------------------------------------[Nav] Navigation element */

nav {
  display: flex;
  padding: 10px 70px;
  background-color: #f6f8fb;
  top: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0px 5px 30px 0px #ddd;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 35px;
  width: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  column-gap: 20px;
}

.menu ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu ul li a {
  display: flex;
  padding: 10px;
  margin: 0 5px;
  color: #1f2937;
  align-items: center;
  border-radius: 5px;
}

.menu ul li a:hover {
  color: #ffffff;
  background: #1f2937;
}

.menu_appear {
  animation: appear 0.6s ease-in-out;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.account {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.acc_btn {
  display: flex;
  align-items: center;
  background: #0f172a;
  border-radius: 3px;
  cursor: pointer;
  padding: 7px 10px;
  column-gap: 5px;
}

.acc_btn i {
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
}

.acc_btn a {
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 11px;
}

.res_menu_btn {
  color: #6159e6;
  margin-right: 10px;
  float: right;
  cursor: pointer;
  outline: none;
}

@media (max-width: 600px) {
  nav {
    display: block;
    padding: 0;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 5px;
  }
  .logo img {
    height: 20px;
    width: auto;
  }
  .res_menu_btn {
    display: block;
  }
  #pc_menu {
    display: none;
  }
  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    background: rgb(108, 99, 255);
    background: linear-gradient(
      72deg,
      rgba(108, 99, 255, 1) 7%,
      rgba(0, 0, 0, 0.2976540958180147) 96%
    );
  }
  .menu ul {
    display: block;
    position: relative;
  }
  .menu ul li {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  .menu ul li a {
    color: #ffffff;
    font-weight: 500;
  }
  .menu ul li a:hover {
    background: #8881ed;
  }
}

@media (min-width: 600px) and (max-width: 1080px) {
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .res_menu_btn {
    display: block;
  }
  nav {
    display: block;
    padding: 0;
  }
  #pc_menu {
    display: none;
  }
  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    background: rgb(108, 99, 255);
    background: linear-gradient(
      72deg,
      rgba(108, 99, 255, 1) 7%,
      rgba(0, 0, 0, 0.2976540958180147) 96%
    );
  }
  .menu ul {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
  }
  .menu ul li {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  .menu ul li a {
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    justify-content: center;
  }
  .menu ul li a:hover {
    background: #8881ed;
  }
}

@media (min-width: 1080px) {
  .menu ul li {
    float: left;
  }
  .res_menu_btn {
    display: none;
  }
}
