/* -----------------------------------------------------------------[Home] Section 1 styling */
.section1_container {
  padding: 140px 0;
  background-color: var(--bodyBackground);
}
.section1_inner {
  width: 80%;
  margin: 2rem auto;
}
.section1_img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.section1_img_inner {
  background: rgb(231, 224, 187);
  background: linear-gradient(
    360deg,
    rgba(231, 224, 187, 1) 0%,
    rgba(144, 88, 235, 1) 96%
  );
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px -2px 20px 0px rgb(197, 152, 152);
}

.section1_text i {
  color: #8251cf;
  font-size: 35px;
}
.top_h4 {
  margin-top: 10px;
  color: #8c50ed;
  font-size: 16px;
}
.section1_text h2 {
  margin-top: 20px;
  color: #151b32;
  font-size: 16px;
}
.s1_bottom_h5 {
  margin-top: 10px;
  color: #334155;
  font-size: 33px;
  font-weight: 400;
}

.section1_text p {
  margin-top: 25px;
  color: #374558;
  font-size: 14px;
}
.section1_text button {
  margin-top: 25px;
  color: #ffffff;
  background-color: #8251cf;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .section1_container {
    padding: 50px 0;
  }
  .section1_img {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section1_img_inner {
    height: 220px;
    width: 220px;
  }

  .section1_img img {
    height: 250px;
  }

  .section1_text h2 {
    font-size: 28px;
  }

  .s1_bottom_h5 {
    margin-top: 0px;
    font-size: 20px;
  }

  .section1_inner {
    width: 90%;
    margin: 10px auto;
  }

  .section1_text i {
    display: none;
  }
  .section1_text {
    text-align: center;
  }
}

@media (min-width: 600px) and (max-width: 1080px) {
  .section1_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section1_img_inner {
    height: 320px;
    width: 320px;
  }

  .section1_img img {
    height: 350px;
  }
  .top_h4 {
    margin-top: 50px;
  }
  .section1_text h2 {
    font-size: 38px;
  }
  .s1_bottom_h5 {
    margin-top: 0px;
    font-size: 20px;
  }
  .section1_text i {
    display: none;
  }
  .section1_text {
    text-align: center;
  }
}

@media (min-width: 1080px) {
  .section1_container {
    height: 100vh;
  }

  .section1_img_inner {
    height: 420px;
    width: 420px;
  }
  .section1_img img {
    height: 100%;
  }
  .section1_inner {
    padding: 70px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .section1_text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .section1_text h2 {
    font-size: 45px;
  }
  .section1_text p {
    font-size: 17px;
    line-height: 30px;
  }
  .section1_text button {
    font-size: 17px;
  }
}
